

.container-flex {
  display: flex;
  flex-wrap: wrap;
}

.container-flex label
{
	font-size: medium;
	font-weight: bold;
	color: #f2f2f2;
}

.checkbox-item {
  display: flex;
  width: auto;
  padding: 10px;
}

.checkbox-item label
{
	color: #f2f2f2;
	float: left;
}

.checkbox-item input
{
	float: right;
}

form div {
	margin-bottom: 10px;
	width: 100%;
}

label {
	display: block;
	margin-bottom: 10px;
	float: left;
	width: 33%;
	padding: 10px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
	width: 66%;
	float: right;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	margin-bottom: 10px;
}